:root{
  --primeiraCor: #0E7C7B;
  --segundaCor: #17BEBB;
  --terceiraCor: #D4F4DD;
  --quartaCor: #4B1D3F;
  --clr-andre-blue:  #3d5a89;

}

@media screen and (min-width: 310px) {
  .columnParis{
    padding-left: 7vw;
  } 
  .modalidadesBtn{
    width: 50vw;
    margin-left: 25vw;
    background-color: var(--primeiraCor);
    height: 13vh;
    border: 5px ;
    border-color: var(--segundaCor);
    border-radius: 5px;
    color: var(--terceiraCor);
    font-size: 1.5rem;
    font-weight:bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .edicoesBtn{
    width: 50vw;
    height: 15vh;
    margin-left: 25vw;
    background-color: var(--terceiraCor);
    height: 10vh;
    border: 5px ;
    border-color: var(--segundaCor);
    border-radius: 5px;
    color: var(--primeiraCor);
    font-size: 1.5rem;
    font-weight:bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .edicoesBtn:hover {
    background-color:  green;
  }

  .modalidadesBtn:hover{
    background-color: green;
  }
  
  .edicoesImg{
    width:80vw;
    margin-left: 10vw
  }
  .footer{
    width: 100vw;
    display: grid;
    grid-template-columns: 30%, 70%;
    background-color: var(--clr-andre-blue);
  }
  .footerLogo{
    grid-column: 1;
  }
  .footerImg{
    width: 22vw;
    margin-left: 6vw;
  }
  .footerInfo{
    grid-column: 2;

  }
  .footerParagraph{
    color: #b3b8c0;
    font-size: 0.7rem;
    font-weight:bold;
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 5vh;
  }
.edicoesTitle{
  color: var(--terceiraCor);
  font-size: 1.4rem;
  font-weight:bold;
  text-align: center;
  margin-top: 5vh;
}
.edicoesTitle2{
  color: var(--primeiraCor);
  font-size: 1.4rem;
  font-weight:bold;
  text-align: center;
  margin-top: 5vh;
}



  .olimpiadas{
    width: 33vw;
  }
 
  .columnType2{
    padding-left: 6vw;
  }
  .columnType3{
    padding-left: 12vw;
  }
  .geralResults{
    width: 100vw;
    box-sizing: border-box;
    background-color:var(--segundaCor);
  }
  .item-title{
    color: var(--terceiraCor);
    font-size: 1.5rem;
    font-weight: bold;
  }
  .flagImg{
  width: 15vw
}
.list-item, .list-item2{
  color: var(--primeiraCor);
  font-size: 1rem;

}

.list-title{
  color: var(--primeiraCor);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 4vh;
}
  .medalImg{
  width: 5vw;
  height: 10vh;
  margin-left: 3vw;
}
.medalsImg{
  width: 20vw;
  height: 10vh; 
  margin-left: 4vw;
  
}
.sportBanner{
  
  width: 100vw;
  height: auto;
}


.sportSection{
  width: 100vw;
  height: auto;
  box-sizing:border-box;
  background-color: var(--primeiraCor);
}
.parisFirst{
 background-color: var(--primeiraCor);
}
.parisMedal{
  width: 5vw;
  height: 9vh;
  padding-top: 1.5vh;
}
.paris-item{
color:var(--terceiraCor);
font-size: 1.1rem;
font-weight: bold;
}

.parisBrasil{
  width: 75vw;
  margin-left: 12.5vw;
  margin-top: 10vh;
}
.parisTable{
  margin-top: 10vh;
}

.sportImg{
  width: 100vw;
  height: auto;
  opacity: 0.5;
}
.sportInfo{
  width: 100vw;
  height: auto;
}
.sportLabel{
  font-size: 1.2rem;
  color: var(--primeiraCor);
  font-weight: bold;
}
.sportParagraph{
  color: var(--terceiraCor);
  font-size: 1 rem;
  margin-top: 4vh;

}
.sportParagrap2h{
  color: var(--primeiraCor);
  font-size: 1 rem;
  margin-top: 4vh;

}
.sportTitle{  
  color: var(--terceiraCor);
  font-size: 1.55rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.sportTitle2{
  color: var(--primeiraCor);
  font-size: 1.55rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.titles-section{
  width: 100vw;
  height: auto;
  background: linear-gradient(to bottom right,#D4F4DD,#17BEBB,  #D4F4DD,#0E7C7B );

}
.thirdSection{
  background-color: var(--terceiraCor);
}
.thirdSectionColumn1{
  padding-top: 13vh;
}

.total-paris{
  color: var(--primeiraCor);
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 4vh;
}
.resultsTitle{
  color: var(--primeiraCor);
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

}
@media screen and (min-width: 460px) {

.columnType2{
  padding-left: 8vw;
}
.medalImg{
  margin-left: 8vw;
}
.footerParagraph{
  font-size: 1rem;
  margin-top:10vh;
}
}

@media screen and (min-width: 850px){
  .edicoesImg{
    width:40vw;
    margin-left: 30vw
  }
  .olimpiadas{
    width: 22vw;
  }
  .sportTitle{  
  
  
  font-size: 2.5rem;
  }

.sportParagraph{
  font-size: 1.3rem;
  width: 75vw;
  margin-left: 12vw;
}
.sportParagraph2{
  font-size: 1.3rem;
  width: 75vw;
  margin-left: 12vw;
  margin-top:5vh;
}
.resultsTitle{
  font-size: 1.7rem;
}
.sportLabel{
  font-size: 1.6rem;
}
.list-item, .list-item2{

font-size: 1.4rem;
}
.list-title{
font-size: 1.7rem;

}
.paris-item{
font-size: 1.5rem;
}
.total-paris{
font-size: 1.7rem;
}
.sportImg{
  width: 70vw;
  margin-left: 14vw;
}
.sportInfo{
  max-width: 94vw;
  height: auto;
  box-sizing:border-box;
}
.sportSection, .titles-section, .footer, .geralResults{
max-width: 100%;
}

.thirdSectionColumn1, .thirdSectionColumn2{
  max-width: 60%;
  
}
.sportTitle2{
  font-size: 2.5rem;
}
.footerParagraph{
  font-size: 1rem;
  margin-top:17vh;
}
}